@import 'nib'

global-reset()

body
	font-size 10pt
	background-color #f8f8f8
	font-family Helvetica, Trebuchet, sans-serif
		
p.c
	text-align center
	
.icon
	width 64px
	height 64px
	margin 0 auto
	display block
	
em
	font-style italic
	color #888
	
a
	color #555
	text-decoration none
	
 a:hover
	text-decoration underline	

h1
	color hsl(0,0,10)
	font-size 1.5em
	font-family 'Arvo', serif
	text-align center
	
h1.title
	font-size 2.5em

p
	font-size 1em
	margin-top .5em
	line-height 1.5em
	
p.version
	text-align center
	font-style italic
	margin 0	

.flexbox
	position absolute
	display flex
	width 100%
	min-height 80%
	flex-direction column
	justify-content center
	align-items center

.main
	padding 2em
	background-color hsl(0,0,98)
	background linear-gradient( top, hsl(0,0,98), hsl(0,0,96) )
	border-radius 2em
	box-shadow 0px 5px 15px hsl(0,0,86)
	
.margin
	margin 1em
	max-width 28em
	width 100%

.pagecontent
	margin-top 1em
		
nav
	display flex
	width 100%
	margin 1em auto 0 auto
	flex-flow row wrap
	justify-content center
	align-items center
	
nav a
	display block
	margin .5em .5em 0 .5em
	color hsl(0,0,25)
	text-decoration none
	
nav.account
	font-weight lighter
	font-size 1.3em
	
nav.account.prompt a
	font-size .7em
	width 100%
	text-align center
		
nav a:hover
	text-decoration underline


	

